{% extends "base.html" %}

{% block title %}Recherche{% endblock %}

{% block content %}
<section class="search-results">
    <h2><i class="fas fa-search"></i> Résultats de recherche</h2>
    
    <div class="search-query">
        <p>Vous avez recherché : <strong>{{ query }}</strong></p>
    </div>
    
    <div class="results-container">
        <!-- VULN XSS: Injection directe sans échappement -->
        <!--<p>Résultats pour : {{ query | safe }}</p>-->
        <!-- échapper les caractères spéciaux, ne jamais utiliser le param "safe" pour les données accessibles user-->
        <p>Résultats pour : {{ query  }}</p>
        
        <div class="no-results">
            <i class="fas fa-exclamation-triangle"></i>
            <p>Aucun résultat trouvé pour votre recherche</p>
        </div>
    </div>
    
    <div class="search-actions">
        <a href="{{ url_for('profile') }}" class="btn btn-secondary">
            <i class="fas fa-arrow-left"></i> Retour au profil
        </a>
        <a href="{{ url_for('home') }}" class="btn btn-primary">
            <i class="fas fa-home"></i> Retour à l'accueil
        </a>
    </div>
</section>
{% endblock %}